# Introduccion a objetos
## Primeros objetos

La función que identifica el tipo de objeto es la función `type`

Las variables se escriben como sigue

In [2]:
num=5
saludo = "Hola, mundo!"

In [6]:
type(saludo)

str

In [4]:
print(saludo)

Hola, mundo!

In [5]:
type(num)

int

In [8]:
#Esto sirve para comprar, la respuesta es True o False. Compara el tipo de variable.
#El resultado arroja un resultado booleano.
type(num)==type(saludo)

False

In [11]:
#Convierte un int en flotante
float(num)

5.0

In [9]:
#Convierte un int en string
str(num)

'5'

In [14]:
#Es una nueva variable
nums=str(num)

In [15]:
#Comparamos el tipo de la nueva variable nums con el tipo de variable de saludo
type(nums)==type(saludo)

True

In [31]:
#La Función range sirve para crear indices, los indices en python empiezan en 0. Si pones range(10), te va a dar range(0,10) como resultado.
range(11)
#Vamos a mostrar los elementos de range(10). Para esto usamos un for (Se tiene que poner : al final)
#Llega hasta el 9 porque python empieza en 0 entonces siempre te va a dar un numero menos.
#Para que este dentro del for tiene que tener sangría
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [34]:
#Para crear listas
#Las listas se abren y cierran con corchetes
#lista_1=[el0,el1, el(n-1)]
#Los elementos pueden ser de cualquier tipo. Cada elemento es un objeto.
lista_1=[1, "1", 1.0, [2,3]]

In [36]:
#Para saber el tipo de variable de la lista
type(lista_1)

list

In [40]:
#Para poner un range en una lista
#La x es como la j y la i en código en c
lista_2=[x for x in range(11)]
print(lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]